<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.wms.mapper.WmsDistributionDetailMapper">

    <select id="getCargoList" resultType="org.jeecg.modules.wms.vo.WmsDistributionDetailVo">
        select wd.code,wd.consignor_id,wd.consignee_id,wd.consignee_iphone,
               wd.sstatus,wd.arrival_station,wdd.goods_name,
               wdd.number,wdd.quantity,wdd.freight
               from wms_distribution_detail wdd
        join wms_distribution wd on wd.id = wdd.distribution_id and wd.del_flag = '0'
        left join wms_car wc on wc.id = wd.car_id and wc.del_flag = '0'
        left join wms_car wc2 on wc2.id = wd.car_id_transfer and wc2.del_flag = '0'
        where wdd.del_flag = '0'
        <if test="carNo != null and carNo != ''">
           and ((wc.license_plate_number = #{carNo})or(wc2.license_plate_number = #{carNo})or
            (wd.consignor_iphone = #{carNo})or(wd.consignee_iphone = #{carNo}))
        </if>
        <if test="status != null and status != ''">
            and find_in_set(wd.sstatus,#{status})>0
        </if>
        order by wd.billdate,wdd.id  desc
    </select>
</mapper>
